version: 2.1

orbs:
  ruby: circleci/ruby@1.8.0
  macos: circleci/macos@2.2.0

jobs:
  unit_test:
    macos:
      xcode: 13.3.1
    # Resource class
    resource_class: macos.x86.medium.gen2
    steps:
      - checkout
      # Ruby Orb(Install fastlane)
      - ruby/install-deps
      - run: bundle exec fastlane unit_test
      # Store Test Results
      - store_test_results:
          path: fastlane/test_output/report.junit

  ui_test:
    macos:
      xcode: 13.3.1
    resource_class: macos.x86.medium.gen2
    steps:
      - checkout
      # Preboot iOS Simulator
      - macos/preboot-simulator:
          device: iPhone 13
          version: "15.4"
      - ruby/install-deps
      - run: bundle exec fastlane ui_test_all
      - store_test_results:
          path: fastlane/test_output/report.junit

  build_for_ui_test:
    macos:
      xcode: 13.3.1
    resource_class: macos.x86.medium.gen2
    steps:
      - checkout
      - ruby/install-deps
      - run: bundle exec fastlane build_for_ui_test
      - persist_to_workspace:
          root: .
          paths:
            - dist

  ui_test_parallel:
    parallelism: 2 
    macos:
      xcode: 13.3.1
    resource_class: macos.x86.medium.gen2
    steps:
      - checkout
      - macos/preboot-simulator:
          device: iPhone 13
          version: "15.4"
      - attach_workspace:
          at: .
      - ruby/install-deps
      - run:
          name: Split tests and run UITests
          command: |
            CLASSNAMES=$(circleci tests glob "CircleCIDemoUITests/*.swift" \
              | sed 's@/@.@g' \
              | sed 's/.swift//' \
              | circleci tests split --split-by=timings --timings-type=classname)
            FASTLANE_ARGS=$(echo $CLASSNAMES | sed -e 's/\./\//g' -e 's/ /,/g')
            bundle exec fastlane ui_test_without_building tests:$FASTLANE_ARGS
      - store_test_results:
          path: fastlane/test_output/report.junit

  beta:
    macos:
      xcode: 13.3.1
    resource_class: macos.x86.medium.gen2
    steps:
      - checkout
      - ruby/install-deps
      - run: bundle exec fastlane beta

workflows:
  main:
    jobs:
      - unit_test
      - ui_test
      - build_for_ui_test
      - ui_test_parallel:
          requires:
            - build_for_ui_test
      - beta:
          context: # Context
            - mobile
